*{margin:0px;
 padding: 0px;}

 html,body{height:100%;}

#Main {background: black;
position: relative;
height: 100%;width:100%;
}

#Logo img{position: absolute;
    top:0;
    left:0;
    right: 0;
    bottom: 0;
    width: 100px; margin: auto;
}